@page "~/account/verify"
@model template.Web.Pages.AccountVerifyModel
@addTagHelper *, aspnetcore-vuecomponents

@{ ViewData["Title"] = "Verify Account"; Layout = "_Layout.Blank"; }

@section Scripts {
    <environment names="Development">
        @Bundler.Unpack(HostingEnvironment.ContentRootPath, "Pages/Account/AccountVerify/accountVerify.bundle.js")
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="Pages/Account/AccountVerify/accountVerify.bundle.js" asp-append-version="true" />
    </environment>
}


<div id="app" class="w-100 h-100">
    <div class="text-end">
        <button type="button" class="btn btn-sm btn-close-white m-3 rounded-circle" v-on:click="logout">
            <h4 class="bi bi-x mb-0"></h4>
        </button>
    </div>
    <div class="d-flex flex-column h-screen justify-content-center align-items-center mw-md mx-auto text-gray-400">
        <?xml version="1.0" encoding="UTF-8" ?>
        <svg class="text-primary w-50 mb-5" viewBox="0 0 962.19 788.57" xmlns="http://www.w3.org/2000/svg">
            <polygon points="220.59 159.45 224.68 497.37 401.68 583.58 397.58 245.66" fill="#f2f2f2" />
            <polygon points="166.8 132.45 34.553 403.96 214 491.37 209.9 153.45" fill="#f2f2f2" />
            <polygon points="962.19 513.87 605 339.88 609.1 677.79 829.94 785.37" fill="#f2f2f2" />
            <polygon points="413.58 245.66 417.68 583.58 594.66 669.79 590.57 331.88" fill="#f2f2f2" />
            <rect transform="translate(-131.02 -19.764) rotate(-2.2207)" x="910.29" y="316.19" width="22.242" height="28.597" fill="currentColor" />
            <path transform="translate(-118.9 -55.716)" d="m831.71 415.85s-30.779-14.706-30.286-2.0054 31.025 21.056 31.025 21.056z" fill="#ffb9b9" />
            <path transform="translate(-118.9 -55.716)" d="m848.6 523.31s-14.521 35.542-19.886 61.189-13.536 60.942-3.0258 85.974 40.392 98.599 40.7 106.54-2.5595 15.999 3.7907 15.752 40.907-11.126 42.31-15.95-11.79-17.032-11.79-17.032l-32.577-102.08 33.989-66.505 24.516 99.215 4.8018 123.83s23.567-7.2736 26.988-1.0466c0 0 10.559-14.719 11.9-21.131s-4.9865-128.59-4.9865-128.59 21.632-139.16 4.1694-138.49-85.864-41.188-120.9-1.6714z" fill="#2f2e41" />
            <path transform="translate(-118.9 -55.716)" d="m869.93 786.41s-16.109 35.603-17.635 37.252-12.023 17.955-4.0854 17.648 26.68-8.9843 40.476-22.239 31.984-36.219 30.335-37.745-12.947-5.8577-12.947-5.8577z" fill="#2f2e41" />
            <path transform="translate(-118.9 -55.716)" d="m934.29 806.18s-0.97192 15.937-3.9008 22.41-2.5595 15.999 5.3782 15.691 28.453-4.2832 28.453-4.2832 1.2182-9.5868-0.43093-11.113-8.6765-18.743-5.6861-23.628-23.813 0.92344-23.813 0.92344z" fill="#2f2e41" />
            <path transform="translate(-118.9 -55.716)" d="m946.04 288.99s16.922 26.373 23.518 32.477-11.962 19.543-11.962 19.543l-33.215 4.4679s0.41786-30.225-1.2928-33.338 22.951-23.149 22.951-23.149z" fill="#ffb9b9" />
            <path transform="translate(-118.9 -55.716)" d="m917.17 323.5s6.8427 12.454 13.193 12.208 39.196-14.239 40.599-19.064 10.88 34.557 10.88 34.557l-80.372 141.44-19.605-13.549 9.4991-83.045 7.8015-44.821z" fill="currentColor" />
            <path transform="translate(-118.9 -55.716)" d="m973.92 450.08c-3.206 6.7067-5.2084 13.7-4.9307 20.86 0.01231 0.31752 0.02462 0.635 0.05282 0.95187 0.76057 14.693 6.1734 31.686 8.1153 44.044 1.4091 8.8648 1.0081 15.336-4.1797 16.856-12.577 3.6676 1.8338 6.2886-46.826 22.485s-57.152 2.2162-57.275-0.95885 6.8912-27.296 5.2421-28.822-23.074 19.974-29.548 17.045-0.73874-19.051-0.73874-19.051 14.583-33.954 14.275-41.892 22.089-45.375 22.089-45.375l15.234-99.167s5.8577-12.947 13.734-14.842 14.411 2.621 14.411 2.621l-13.18 29.13-13.905 51.417 2.3263 18.989s16.17-34.016 26.79-47.147 33.264-44.218 33.264-44.218 5.2865-17.837 1.2957-23.168c-3.9914-5.3463 16.647-6.1466 25.446 15.771 4.6638 11.616 12.236 28.939 16.979 45.068 4.2268 14.289 6.2234 27.646 2.0359 35.281-6.4002 11.664-22.5 26.995-30.708 44.119z" fill="#575a89" />
            <path transform="translate(-118.9 -55.716)" d="m1004.6 405.97c-6.4003 11.664-22.5 26.995-30.708 44.119-2.1438-7.7235-4.7591-15.715-4.7591-15.715s-10.031-53.669 19.64-67.539a19.858 19.858 0 0 1 13.791 3.8534c4.2268 14.289 6.2234 27.646 2.0359 35.281z" opacity=".1" />
            <path transform="translate(-118.9 -55.716)" d="m886.84 402.58-25.154 7.3352-34.926 1.3544-3.593 30.348 57.398 4.134s14.336-40.304 6.2756-43.172z" fill="#575a89" />
            <path transform="translate(-118.9 -55.716)" d="m927.86 504.62s-33.652 5.5831-25.971 15.71 37.492-0.51979 37.492-0.51979z" fill="#ffb9b9" />
            <path transform="translate(-118.9 -55.716)" d="m969.04 471.9c0.76057 14.693 6.1734 31.686 8.1153 44.044-10.72 10.146-20.914 19.095-24.756 19.244-7.9377 0.30781-20.7-0.78724-25.401 0.985s-7.4583-28.33-7.4583-28.33 2.8057-9.6484 15.321-14.904c8.4478-3.5552 24.641-13.198 34.178-21.041z" opacity=".1" />
            <path transform="translate(-118.9 -55.716)" d="m988.43 357.31s26.865-4.2216 25.414 40.353 2.8318 73.027-7.9732 81.396-45.903 46.298-53.84 46.606-20.7-0.78724-25.401 0.985-7.4583-28.33-7.4583-28.33 2.8057-9.6484 15.321-14.904 42.002-23.888 41.756-30.238-7.4583-28.33-7.4583-28.33-10.031-53.669 19.64-67.539z" fill="#575a89" />
            <circle cx="803.44" cy="237.37" r="34.952" fill="#ffb9b9" />
            <path transform="translate(-118.9 -55.716)" d="m898.81 242.99a6.749 6.749 0 0 1-2.9388 1.4748 2.0972 2.0972 0 0 1-2.4303-1.6834c-0.79968 1.6584-1.7019 3.4259-3.3346 4.2769s-4.1573 0.13741-4.3927-1.6886a7.706 7.706 0 0 1-1.7736 3.7439c-1.013 0.96585-2.85 1.2096-3.7344 0.12483 0.715 3.9074 0.27369 7.9259 0.49823 11.892s1.2821 8.1705 4.2785 10.778c4.3699 3.8033 10.941 2.8647 16.689 2.1441a5.0656 5.0656 0 0 1 2.6154 0.14307c2.1523 0.917 2.0547 3.9131 2.0837 6.2524a17.373 17.373 0 0 0 15.212 16.497 8.7086 8.7086 0 0 0 6.4724-1.5796c1.6321-1.3834 2.4657-3.638 4.3358-4.6772 3.0421-1.6904 6.7315 0.77486 8.9557 3.4516s4.4162 5.9693 7.8617 6.4593c4.5569 0.648 8.0277-3.996 9.7305-8.2722a48.223 48.223 0 0 0-0.9584-37.47c-9.5149-20.741-42.018-24.022-59.171-11.868z" fill="#2f2e41" />
            <circle cx="594.94" cy="144.07" r="72" fill="currentColor" />
            <path transform="translate(-118.9 -55.716)" d="m635.52 123.82c16.589 17.016 42.072 19.077 42.072 19.077s-1.4128-25.527-18.002-42.543-42.072-19.077-42.072-19.077 1.4128 25.527 18.002 42.543z" fill="#3f3d56" />
            <path transform="translate(-118.9 -55.716)" d="m641.08 115.08c22.944 6.1886 37.167 27.434 37.167 27.434s-22.977 11.211-45.921 5.0228-37.167-27.434-37.167-27.434 22.977-11.211 45.921-5.0228z" fill="currentColor" />
            <path transform="translate(-118.9 -55.716)" d="m663.6 98.852c0.15213 23.764 17.083 42.92 17.083 42.92s16.685-19.372 16.532-43.136-17.083-42.92-17.083-42.92-16.685 19.372-16.532 43.136z" fill="#3f3d56" />
            <path transform="translate(-118.9 -55.716)" d="m673.68 96.41c12.239 20.37 7.7541 45.54 7.7541 45.54s-24.329-7.8562-36.569-28.226-7.7541-45.54-7.7541-45.54 24.33 7.8562 36.569 28.226z" fill="currentColor" />
            <circle cx="588.43" cy="138.54" r="37" fill="#f2f2f2" />
            <circle cx="571.11" cy="149.99" r="12" fill="#3f3d56" />
            <circle cx="208" cy="710.91" r="72" fill="currentColor" />
            <path transform="translate(-118.9 -55.716)" d="m295.47 662.14c6.2056 22.94 27.461 37.147 27.461 37.147s11.194-22.985 4.9887-45.925-27.461-37.147-27.461-37.147-11.194 22.985-4.9887 45.925z" fill="#3f3d56" />
            <path transform="translate(-118.9 -55.716)" d="m304.59 657.21c17.028 16.576 19.108 42.058 19.108 42.058s-25.528-1.3939-42.557-17.97-19.108-42.058-19.108-42.058 25.528 1.3939 42.557 17.97z" fill="currentColor" />
            <path transform="translate(-118.9 -55.716)" d="m332.16 654c-11.437 20.831-5.9746 45.807-5.9746 45.807s24.005-8.7978 35.442-29.629 5.9746-45.807 5.9746-45.807-24.005 8.7978-35.442 29.629z" fill="#3f3d56" />
            <path transform="translate(-118.9 -55.716)" d="m342.15 656.77c0.7735 23.752-15.399 43.553-15.399 43.553s-17.426-18.707-18.2-42.459 15.399-43.553 15.399-43.553 17.426 18.707 18.2 42.459z" fill="currentColor" />
            <circle cx="205" cy="702.91" r="37" fill="#f2f2f2" />
            <circle cx="217" cy="684.91" r="12" fill="#3f3d56" />
            <rect x="10" y="781.91" width="375" height="2" fill="#2f2e41" />
            <rect x="563" y="785.91" width="375" height="2" fill="#2f2e41" />
            <path transform="translate(-118.9 -55.716)" d="m214.79 839.09-1.7773-0.918c23.082-44.624 10.739-102.58-3.6787-143.33a439.29 439.29 0 0 0-37.278-78.675l1.6904-1.0684a441.54 441.54 0 0 1 37.472 79.075c14.551 41.13 26.98 99.659 3.5713 144.92z" fill="#2f2e41" />
            <rect transform="matrix(.17975 -.98371 .98371 .17975 -573.72 701.09)" x="190.31" y="650.13" width="72.18" height="1.9994" fill="#2f2e41" />
            <rect transform="translate(-556.57 256.75) rotate(-42.94)" x="177.4" y="663.45" width="2.0007" height="98.351" fill="#2f2e41" />
            <rect transform="translate(-646.83 469.49) rotate(-54.137)" x="220.9" y="778.13" width="58.009" height="2.0003" fill="#2f2e41" />
            <circle cx="119" cy="530.91" r="10" fill="currentColor" />
            <circle cx="10" cy="607.91" r="10" fill="#3f3d56" />
            <circle cx="54" cy="617.91" r="10" fill="#3f3d56" />
            <circle cx="34" cy="656.91" r="10" fill="currentColor" />
            <circle cx="159" cy="681.91" r="10" fill="#3f3d56" />
            <circle cx="126" cy="692.91" r="10" fill="#3f3d56" />
            <circle cx="149" cy="724.91" r="10" fill="#3f3d56" />
            <circle cx="44" cy="542.91" r="10" fill="#3f3d56" />
            <rect x="204.6" y="179.24" width="482" height="289" fill="#3f3d56" />
            <circle cx="223.6" cy="190.24" r="5" fill="currentColor" />
            <circle cx="241.6" cy="190.24" r="5" fill="currentColor" />
            <circle cx="259.6" cy="190.24" r="5" fill="currentColor" />
            <rect x="205" y="201.42" width="481.6" height="2" fill="#2f2e41" />
            <polygon points="485.6 260.24 485.6 350.24 354.77 350.24 330.6 379.24 333.36 350.24 321.6 350.24 321.6 260.24" fill="currentColor" />
            <rect x="426.6" y="291.24" width="59" height="59" opacity=".1" />
            <polygon points="439.6 304.24 603.6 304.24 603.6 394.24 591.84 394.24 594.6 423.24 570.43 394.24 439.6 394.24" fill="currentColor" />
            <ellipse cx="331.6" cy="390.24" rx="36" ry="3.5122" opacity=".1" />
            <ellipse cx="594.6" cy="437.24" rx="41" ry="4" opacity=".1" />
        </svg>

        <h3>Verify your email</h3>
        <p class="text-center w-75">
            An email has been sent to @User.FindFirst("Email") with a link to verify your account.
            If you have not received the email after a few minutes, please check your spam folder
        </p>
        <div class="d-flex justify-content-between mt-2">
            <a href="mailto:support@template.no" class="me-2 btn btn-outline-primary">Contact Support</a>
            <button type="button" class="ms-2 btn btn-primary" v-on:click="resendVerifyEmail('@User.FindFirst("Email")')">Resend Email</button>
        </div>
    </div>
</div>