@page "~/account/password-reset"
@model Example.Web.Pages.PasswordResetModel
@addTagHelper *, aspnetcore-vuecomponents

@{ ViewData["Title"] = "Password Reset"; Layout = "_Layout.Blank"; }

@section Scripts {
    <environment names="Development">
        @Bundler.Unpack(HostingEnvironment.ContentRootPath, "Pages/Account/PasswordReset/passwordReset.bundle.js")
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="Pages/Account/PasswordReset/passwordReset.bundle.js" asp-append-version="true" />
    </environment>
}


<div id="app" class="w-100 h-100">
    <div class="d-flex justify-content-center align-items-center w-screen h-screen">
        <div class="rounded-md shadow p-4 bg-white-pure mw-xs" v-on-submit="resetPassword">
            <h2 class="text-center">
                <i class="bi bi-shield-lock-fill"></i>
            </h2>
            <h3 class="mb-0 text-center">Password Reset</h3>
            <p class="text-gray-400 text-center">Enter a new password and then repeat it</p>

            <div class="row row-cols-1 g-2">
                <div class="mt-2">
                    <label for="password" class="form-label">New Password</label>
                    <input type="password" class="form-control form-control-sm" id="password" placeholder="Pas***rd" v-model="Password" autocomplete="on" required="required">
                </div>
                <div class="mt-2">
                    <label for="password2" class="form-label">Repeat Password</label>
                    <input type="password" class="form-control form-control-sm" id="password2" placeholder="Pas***rd" v-model="Password2" autocomplete="on" required="required" v-submit-validator="()=> Password == Password2">
                </div>

                <button type="submit" class="btn btn-primary mt-3 w-100">Change Password</button>
            </div>

        </div>
    </div>
</div>